
<br><br>
<div class="panel panel-info">
  <div class="panel-heading">
     <h3 class="panel-title"><%= notice %></h3>
   </div>
   <div class="panel-body">

       <%= @sentence.content %><br>
      <small>written in <b><%= show_language_name(@sentence.language) %></b> | belongs to <b><%= show_category_name(@sentence.category) %></b> category</small>

   </div>
</div>




<%= link_to '<button type="button" class="btn btn-info">Edit</button>'.html_safe, edit_sentence_path(@sentence) %>
<%= link_to '<button type="button" class="btn btn-warning">Back</button>'.html_safe, sentences_path %>
